name: Publish package to NPM
on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"

      - name: Build library
        run: yarn build
      - name: Update NPM to the latest version
        run: npm install -g npm@latest
      - name: Publish to NPM
        run: npm publish --provenance --access public
